.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px; 
  height: 80px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  position: relative;
}

.header-left .logo {
  width: 250px;
  height: auto;
  object-fit: contain;
  display: block;
  position: absolute;
  top: -45px;
  left: -45px;
}


.header-center h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  color: #1e90ff;
}

.header-right .logout-btn {
  background-color: #6a4bc3;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  text-decoration: none;
}

.header-right .logout-btn:hover {
  background-color: #5736a0;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }

  .header-center h1 {
    font-size: 18px;
  }
}
