.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 80px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  position: relative;
}

.header-left .logo {
  width: 250px;
  height: auto;
  object-fit: contain;
  display: block;
  position: absolute;
  top: -45px;
  left: -45px;
}


.header-center h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  color: #1e90ff;
  text-align: center;
  margin: 400px;
}

.loginProfile {
  position: absolute;
  right: 30px;
  top: 25px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.loginProfile p {
  color: black;
  font-size: 15px;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 5px;
  right: 40px;
  top: -20px;
  
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}



@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }

  .header-center h1 {
    font-size: 18px;
  }
}

@media (min-width: 0px) and (max-width:480px) {
  .loginProfile {
    position: absolute;
    right: 10px;
    top: 25px;
  }

  .loginProfile p {
    max-width: 100px;
    font-size: 13px;
  }
}
